<template>
    <div>
   <section class="paddTitles fondo">
    <div class="w-100 p-3"></div>
    <div class="w-100 p-3"></div>
    <div class="container-fluid padding40">
        <div class="row google bgColorgris" itemtype="http://data-vocabulary.org/Review-aggregate" itemscope="">
            <meta itemprop="itemreviewed" content="ahorraseguros.mx">
          
            <!-- <div class="divider"></div> -->
                        <div class="col-12 col-sm-12 col-md-4">
                             <h3 class="vargasdesignmx ttlefoot">Opiniones de Ahorra Seguros</h3>
                        <div class="col-3 col-sm-2 col-md-3 col-lg-2 pCero">
                            <a href="https://www.ahorraseguros.mx/opiniones-ahorraseguros" style="float:left;">
                            <img src="img/common/google.svg" alt="ahorra seguros" title="ahorra seguros" class="imggoogle" />
                            </a>
                        </div>
                        <div class="row">
                        <div class="col-12 pCero">
                            <p class="txtColorGray2 left starCalif average">4.5<span class="votes">/351 opiniones</span></p>
                                    <span itemprop="rating" itemscope="" itemtype="http://data-vocabulary.org/Rating">
                                        <meta itemprop="average" content="5">
                                        <meta itemprop="best" content="5">
                                    </span>
                                    <meta itemprop="votes" content="122">
                        </div>
                              
                         <div class="col-12 pCero google_rating">
                             <a href="https://www.ahorraseguros.mx/opiniones-ahorraseguros" style="display:inline-block;float:left;">
                                <fieldset class="rating stars" style="display:inline-block;float:left;">
                                    <i class="fa fa-star sicolor sizeW" title="Pésimo - 1 Estrella"></i>
                                    <i class="fa fa-star sicolor sizeW" title="Malo - 2 Estrellas"></i>
                                    <i class="fa fa-star sicolor sizeW" title="Bueno - 3 Estrellas"></i>
                                    <i class="fa fa-star sicolor sizeW" title="Muy Bueno - 4.5 Estrellas"></i>
                                    <i class="fa fa-star sicolor sizeW" title="Excelente - 5 Estrellas"></i>
                                </fieldset>
                            </a>    
                        </div>
                        </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-4">
                            <h3 class="vargasdesignmx ttlefoot">¡Síguenos en Facebook!</h3>
                            <p class="lead txtColorGray2 left">Ya somos más de 190K usuarios</p>
                        <span class="overf">
                          <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2FAhorraseguros&width=228&layout=button_count&action=like&size=large&show_faces=false&share=true&height=46&appId=598737550317707" width="228" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                        </span>
                     

                        </div>
                        <div class="col-12 col-sm-12 col-md-4">
                    
                         <h3 class="vargasdesignmx ttlefoot">Descarga nuestra aplicación:</h3>
                        <div class="row">
                            <a class="col" href="#">
                             <img class="img_vargasdesignmx" src="img/common/appstore.png" alt="Descarga de la app store"/>
                            </a>
                            <a class="col" href="#">
                             <img class="img_vargasdesignmx" src="img/common/googleplay.png" alt="Descarga de la app store"/>
                            </a>
                        </div>
                     

                        </div>
        </div>
    </div>
</section>
<section class="fondo">
    <div class="container-fluid heightfoot fondo">
        <div class="container">
           <ul id="menu-menu-2018" class="row">
            <li id="menu-item-14224" class="col-12 col-sm-12 col-md-4 lio">
                <a href="https://ahorraseguros.mx/" class="centeronlysm">
                    <img class="logo-newasmx-large" alt="logo" src="img/common/ahorralogo.png">
                </a>
            </li>
            <li id="menu-item-14224" class="col-12 col-sm-12 col-md-2 lio">
                <a href="https://ahorraseguros.mx/seguros-de-autos/">Seguros de autos</a>
            </li>
            <li id="menu-item-14213" class="col-12 col-sm-12 col-md-2 lio">
                <a href="https://ahorraseguros.mx/seguros/">Seguros</a>
            </li>
            <li id="menu-item-14225" class="col-12 col-sm-12 col-md-2 lio">
                <a href="https://ahorraseguros.mx/aseguradoras/">Aseguradoras</a>
            </li>
            <li id="menu-item-14224" class="col-12 col-sm-12 col-md-2 lio">
                <a href="https://ahorraseguros.mx/blog/">Blog</a>
            </li>
            </ul>
        </div>
    </div>
</section>
<section class="fondo m10">
  <!-- <div class="dividir-cosas"></div> -->
  <div class="container-fluid heightFoot bgGrayFoot copiando-a-rastreator">
    <div class="container">
      <div class="col-12">© 2017 AhorraSeguros. Todos los derechos reservados. El uso de este sitio implica que aceptas nuestros <a href="/terminos-y-condiciones" class="">Términos y condiciones</a>, así como el <a href="/aviso-de-privacidad" class="">Aviso de privacidad</a>.</div>
    </div>
  </div>
</section>
</div>
</template>

  <style scoped>
    .fondo{background: #e9ebee;}
    .paddTitles{padding:0 0 25px;}
    .m10{margin: -10px 0;}
    /*.container{width:1170px;}
    .container {margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;}*/
    .bgColorgris{background-color:#FBFBFB;background-color:#fff;padding:20px;background:#fff!important;box-shadow:5px 2px 20px 1px #eae9e9!important;}
    .img_vargasdesignmx{max-width:110px;margin:15px 0;display:block;}
    .vargasdesignmx{margin:15px auto 0;font-size:20px !important;color:#044f99 !important;font-weight:bolder;}
    .ttlefoot{margin:20px auto 2rem;}
    .centeronlysm{text-align:left;}
    .height90{height:90px;}
    .padding40{padding: 0 6%;}
    /*INI Stars*/
    fieldset, label {margin: 0; padding: 0!important;}
    .rating {border:none!important;float:inherit!important;}
    .rating > .nocolor {color:#ddd!important;}
    .rating > .sicolor{color:#FFD700!important;}
    .txtColorGray2{color:#436998;}
    .starCalif{font-size:1.5rem;font-weight:bold;color:#5c5c5c!important;}
    .average{display:inline-block;float:left;margin:0.5rem;line-height:0.8;}
    span.votes{font-size:0.5em;}
    .imggoogle{width:60px;height:auto;margin:0px auto 0;}
    .sizeW{font-size:20px;}
    .shadow-cards{box-shadow:4px 4px 17px rgba(228, 221, 221, 0.66);}
    .pCero{padding:0!important;}
    .logo-newasmx-large{width:50%;margin: 0 auto;display:inline-block;height: auto;}
    .bgGrayFoot{background:#f3f2f2;color:#656565;}
    .pacdi{padding:3em 2em;}
    li.lio {display:inline-flex;}
    li.lio a{margin:0px auto 10px;display:block;color:#9e9e9e;}
    li.lio a:hover{margin:0px auto 10px;display:block;color:#656565;}
    .copiando-a-rastreator{background:#fff;box-shadow:0px -3px 10px #eae9e9;}
    @media(min-width:320px) and (max-width:768px){.centeronlysm{text-align:center;}}
    @media (min-width: 1600px) {.container{max-width:1480px;}}
  </style>
