<template>
    <div>
  <div class="container-fluid mb-2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="nav navbar-nav"></div>
                    <ul class="nav navbar navbar-light p-0">
                        <li class="nav-item">
                            <a class="nav-link active ml-33" href="/">
                                <div class="sprite-logo"></div>
                            </a>
                        </li>
                        <li class="nav-item d-none d-sm-none d-md-block"><a class="nav-link" href="#"></a></li>
                        <li class="nav-item d-none d-sm-none d-md-block"><a class="nav-link" href="#"></a></li>
                        <li class="nav-item"><a href="#" alt="" title="" class="leadito">
<img src="img/common/call-answer.svg" class="p-tam"/>&nbsp;&nbsp;55698565</a></li>
                    </ul>
                </div>
                             <div class="col-12 col-sm-12 col-md-12 col-lg-9 offset-lg-2 mt-3 mb-0">
    <h5 class="colorAhorra mb-3 text-center">{{$store.state.formData.nombre}}, encontramos los mejores precios para tu seguro de hogar!</h5>
</div>
            </div>
        </div>
    </div>

  <section class="bg-white prueba mb-4">
        <div class="container-fluid padd-5">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-2">
                 <div class="card card_height card_nonep">
                     <div class="row">
                        <div class="col-6 col-sm-4 col-md-2" align="center">
                         <img src="img/logos/MAPFRE.png" class="logos rounded figure-img mb-0 mt-25"><br>
                          </div>
                          <div class="d-none d-sm-block col-sm-4 col-md-3 text-center">
                           <p class="mt-25">Popular</p>
                          <img class="figure-img img_stars rounded" src="img/common/ranking4.png">
                        </div>
                        <div class="col-6 d-block d-sm-none d-md-none d-lg-none d-xl-none" align="center">
                          <p class="p_cali">4.5  <span class="fa fa-star cYellow checked"></span></p>
                          <p>Popular</p>
                        </div>
                       <div class="col-6 col-sm-4 col-md-4 d-none d-sm-none d-md-block">
                        <ul class="p10">
                          <li class="fontlist"><img src="img/common/terremoto.svg" width="22">&nbsp; Terremoto</li>
                          <li class="fontlist"><img src="img/common/incendio.svg" width="22">&nbsp; Incendio</li>
                          <li class="fontlist"><img src="img/common/huracan.svg" width="22">&nbsp; Huracan e Inundacion</li>
                          <li class="fontlist"><img src="img/common/robo.svg" width="22">&nbsp; Protección contra robo o asalto</li>
                        </ul>
                       </div>
                     <div class="col-12 col-sm-4 col-md-3" align="center">
                        <button type="button" class="btn btn-block badgetpromocall imgcall btn-secondary" v-b-popover.hover.bottom="'Content!'" title="" variant="success"></button>
                  </div>
                   </div>
                 </div>          
                </div>

            </div>
        </div>
    </section>

<footer-content/>
</div>
</template>
<script>
  import g_conversion from '~/plugins/conversion.js'
  import FooterContent from '~/components/common/FooterContent.vue'
  export default {
    created:function (){
      g_conversion.gtag_report_conversion();
    },
    name: "FontAwesome",
    components: {
      FooterContent
    },
     head() {
      return {
        title: 'Seguros de Hogar – Cotiza Seguros para Hogar – AhorraSeguros.Mx',
        meta: [
          {hid: 'seguro de hogar', name: 'keywords', content: 'Seguros de Hogar, Seguros para Hogar, Seguros de Hogar en México, Cotizador de seguros de hogar, seguros de casa, seguros para casa, seguros hogar'},
          {hid: 'description', name: 'description', content: ' Seguros de Hogar: AhorraSeguros.Mx te ofrece los mejores precios y coberturas en Seguros para Hogar en México. Cotiza fácil, rápido y ahorra hasta 25% en tu Seguro de Casa.'},
          {hid: 'robots', name: 'robots', content: 'index, follow'},
          {hid: 'author', name: 'author', content: '@ivandesignMx | @DanCuevas'},
          {hid: 'sitemap', rel: 'sitemap', type:'application/xml', title:'sitemap', href:'sitemap.xml'},
          {hid: 'canonical', rel: 'canonical', href:'https://ahorraseguros.mx/seguros-de-hogar/'}
        ],
               link: [
          { rel: 'stylesheet', type: 'text/css', href: 'https://fonts.googleapis.com/css?family=Open+Sans:400,700'}
    ]
      }
    }
    
  };
</script>
