<template>
  <div>
<header-content/>
<gtag-content/>
<section class="bggray">

    <div class="container">
        <div class="row">
           <div class="col-12 col-sm-12 col-md-12 col-lg-10 offset-lg-2 mt-3 mb-0">
    <h1 class="colorAhorra text_index mb-0 text-center">Compara tu Seguro de Casa en 30 segundos</h1>
    <p class="h6 size13 text-center d-none d-sm-none d-md-block">Asegura tu casa y protege tu patrímonio de cualquier ríesgo</p>
</div>
  <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-4 col-lg-3 mt-2 d-md-block d-sm-none d-none">
                    <div class="card card_ben">
                        <div class="row">
                            <div class="container">
                                <div class="col-12">
                                <img src="img/logotipos/hogar.png" class="img-fluid logohouse" alt="Seguro de casa">
                                </div>
                                <div class="col-12 col-sm-6 col-md-12 col-lg-12"><i class="fa fa-star fa-lg cYellow"></i><i class="fa fa-star fa-lg cYellow"></i><i class="fa fa-star fa-lg cYellow"></i><i class="fa fa-star fa-lg cYellow"></i><i class="fa fa-star-half-o fa-lg cYellow">&nbsp;</i>
                                    <span
                                        class="text-card colorAhorra"><strong>4.5</strong></span>
                                </div>
                                <div class="col-12 col-sm-6 col-md-12 col-lg-12"><i class="fa fa-check-circle fa-lg Cblue">&nbsp;</i><span class="text-card colorAhorra">Ahorra Tiempo</span></div>
                                <div class="col-12 col-sm-6 col-md-12 col-lg-12"><i class="fa fa-check-circle fa-lg Cblue">&nbsp;</i><span class="text-card colorAhorra">Compara varias aseguradoras</span></div>
                                <div class="col-12 col-sm-6 col-md-12 col-lg-12"><i class="fa fa-check-circle fa-lg Cblue">&nbsp;</i><span class="text-card colorAhorra">Paga a Meses</span></div>
                                <div class="col-12 text-center mt-2">
                                    <div class="sprite-card"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-8 col-lg-9 mt-2">
                <hogar-form :config="$store.state.config"></hogar-form>
                </div>

            </div>
        </div>
    </section>
    
    <section class="spacesection mt-4">
    <div class="container">
        <div class="row">
            <div class="col-12 py-4 d-lg-none d-md-none d-sm-block">
                <div class="card card_ben">
                    <div class="row">
                        <div class="col-4 col-sm-4">
                            <img src="img/logotipos/hogar.png" class="img-fluid img_logo" alt="Seguro de Casa">
                        </div>
                        <div class="col-4 col-sm-4 text-center">
                            <i class="fa fa-star fa-lg cYellow"></i> <p class="text-card colorAhorra">4.5/326 opiniones</p>
                        </div>     

                        <div class="col-4 col-sm-4 text-center">
                             <i class="fa fa-check-circle fa-lg Cblue"></i> <p class="text-card colorAhorra">Paga a Meses </p>   
                        </div>
                    
              
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</div>
</section>
<div class="back1 mt-0 mb-0 d-none d-sm-none d-md-none d-lg-block"></div>

<div class="container-fluid">
             <div class="container">
                      <div class="row mt-3 mb-4">
  <div class="col-lg-9 offset-lg-2">
    <ul class="slides">
  <li class="col-4 col-sm-3 col-md-3 col-lg-1"><div class="sprite-aba"></div></li>
<li class="col-4 col-sm-3 col-md-3 col-lg-1"><div class="sprite-afirme"></div></li>
<li class="col-4 col-sm-3 col-md-3 col-lg-1"><a class="sprite-axa"></a></li>
<li class="col-4 col-sm-3 col-md-3 col-lg-1"><a class="sprite-banorte"></a></li>
<li class="col-4 col-sm-3 col-md-3 col-lg-1"><a class="sprite-gnp"></a></li>
<li class="col-4 col-sm-3 col-md-3 col-lg-1"><a class="sprite-mapfre"></a></li>
  </ul>
            </div>
        </div>
            </div>
</div>

<hogar-content/>
<footer-content/>
  </div>
</template>
<script>

  import HogarContent from '~/components/content/HogarContent.vue'
  import HeaderContent from '~/components/common/HeaderContent.vue'
  import FooterContent from '~/components/common/FooterContent.vue'
  import HogarForm from '~/components/form/HogarForm.vue'
  export default {

    created(){

      this.$store.state.config.urlNext='thank-u';
      this.$store.state.config.aseguradora='INSIGNIALIFE';
      this.$store.state.config.telefonoAS='5528815962';
      this.$store.state.config.grupoCallback='VN Insignialife';
      this.$store.state.config.idPagina=98;
      this.$store.state.config.idCampana=37;
      this.$store.state.config.from='MEJORSEGURODEVIDA-INSIGNIALIFE';

    },
    name: "FontAwesome",
    components: {
      HogarContent,
      HeaderContent,
      FooterContent,
      HogarForm
    },

     head() {
      return {
        title: 'Seguros de Casa – Cotiza Seguros para Casa – AhorraSeguros.Mx',
        meta: [
          {hid: 'seguro de hogar', name: 'keywords', content: 'Seguros de Casa, Seguros de Casa en México, Mejor Seguro de Casa, Cotizador de seguros de casa, Seguros para Casa, Seguros Casa, Cotizar Seguros de Casa'},
          {hid: 'description', name: 'description', content: ' Seguros de Casa: AhorraSeguros.Mx te ofrece los mejores precios y coberturas en Seguros para Casa en México. Cotiza fácil, rápido y ahorra hasta 25% en tu Seguro de Casa.'},
          {hid: 'robots', name: 'robots', content: 'index, follow'},
          {hid: 'author', name: 'author', content: '@ivandesignMx | @DanCuevas'},
          {hid: 'sitemap', rel: 'sitemap', type:'application/xml', title:'sitemap', href:'sitemap.xml'},
          {hid: 'canonical', rel: 'canonical', href:'https://ahorraseguros.mx/seguros-de-casa/'}
        ],
               link: [
          { rel: 'stylesheet', type: 'text/css', href: 'https://fonts.googleapis.com/css?family=Open+Sans:400,700'}
    ]
      }
    }
  };
</script>

