<template>
  <div>
<section class="bgColorBlanco">
  <header-content/>
    <div class="jumbotron jumbotron-seguros-hogar pb-0 pt-3 mb-0">
        <div class="bgImgFondo">
        <div class="jumbotron-landing-ahorra bttomcito pt-1">
        <div class="container">
            <div class="jumbotron jumbotron-fluid jumbotron-landing p-0 m-0">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-none d-sm-none d-md-block">
                        <nav aria-label="breadcrumb">
                          <ol class="breadcrumb bg-transparent p-0">
                            <li class="breadcrumb-item">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </li>
                            <li class="breadcrumb-item">
                                Ahorra Seguros
                            </li>
                            <li class="breadcrumb-item">
                                Seguro de Hogar
                            </li>
                          </ol>
                        </nav>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
                        <div class="d-none d-sm-none d-md-block">
                            <!--Titulo-->
                   <h1 class="text-white textshadow font-weight-bold text_card">
       Seguro de Hogar
    </h1>
     <span class="font-weight-bold text-white textshadow">
       Asegura tu casa y protege tu patrimonio de cualquier riesgo
    </span>
                            <!--Titulo fin-->
                        </div>
                        <div class="d-none d-sm-none d-md-block">
                            <div class="row">
                                <div class="col">
                                    <!--Calificacion-->
                             <div class="card brradius">
        <div class="card-body py-0">
            <div class="row text-color-asmx-blue align-items-center ">
                <div class="text-center col-3 col-sm-3 col-md-12 col-lg-4 col-xl-4 p-0">
                    <img src="img/logotipos/hogar.png" class="img-fluid img_logo" alt="Seguro de Hogar">
                </div>                                        
                <div class="col-9 col-sm-9 col-md-12 col-lg-8 col-xl-8 text-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                        <span class="font-weight-bold text_card">Desde $7 pesos</span>
                    </div>                                                      
                                                                    
                                                        
                </div>                                        
            </div>
        </div>
    </div>

                                </div>
                            </div>
                        </div>

                         <div class="d-none d-md-none d-sm-none d-none-lg d-inline">
                            <div class="row">
                                <div class="cardw">
                                    <!--Calificacion-->
                                   <div class="card">
        <div class="card-body py-0 altura">
            <div class="row text-color-asmx-blue align-items-center">
                <div class="text-center col-3 col-sm-3 col-md-12 col-lg-3 col-xl-4 p-0">
                    <img src="img/logotipos/hogar.png" class="img-fluid" alt="Seguro de Vida">
                </div>                                        
                <div class="col-9 col-sm-9 col-md-12 col-lg-4 col-xl-4 text-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                        <span class="font-weight-bold">4.0</span>
                    </div>                                                      
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center text-warning p-0">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>                                                   
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                        Muy bueno
                    </div>                                        
                </div>                                        
                <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-4 marg4">
                    <div class="row align-items-center">
                        <div class="col-9 px-3">
                            <div class="progress">
                                <div class="progress-bar bg-success w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                    <span class="text-left px-1 text-white">Precio</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 p-0">50%</div>
                    </div>            
                    <div class="row align-items-center">
                        <div class="col-9 px-3">
                            <div class="progress">
                                <div class="progress-bar bg-success w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <span class="text-left px-1 text-white">Atención</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 p-0">75%</div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-9 px-3">
                            <div class="progress">
                                <div class="progress-bar bg-success w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                    <span class="text-left px-1 text-white">Respaldo</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 p-0 ">100%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                    <!--Calificacion fin-->
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 p-0">
                        <div class="card boxshadow formulari">
                            <div class="card-header">
                                <div class="text-center text-truncate text-color-asmx-blue">
                                    Cotiza tu <span class="font-weight-bold">Seguro de Hogar</span>
                                </div>
                            </div>
                            <div class="card-body cardy text-dark">
                                <h5 class="card-title d-none d-md-inline d-sm-line d-lg-inline d-xl-inline">Datos personales</h5>
                                <hogar-form :config="$store.state.config"></hogar-form>
                            </div>
                        </div>
                    </div>

                    <div class="w-100 p-5 d-none d-sm-block"></div>

                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>
<hogar-content/>

 <footer-content/>
  </div>
</template>
<script>

  import HogarContent from '~/components/content/HogarContent.vue'
  import HeaderContent from '~/components/common/HeaderContent.vue'
  import FooterContent from '~/components/common/FooterContent.vue'
  import HogarForm from '~/components/form/HogarForm.vue'
  export default {

    created(){

      this.$store.state.config.urlNext='thank-u';
      this.$store.state.config.aseguradora='INSIGNIALIFE';
      this.$store.state.config.telefonoAS='5528815962';
      this.$store.state.config.grupoCallback='VN Insignialife';
      this.$store.state.config.idPagina=98;
      this.$store.state.config.idCampana=37;
      this.$store.state.config.from='MEJORSEGURODEVIDA-INSIGNIALIFE';

    },
    name: "FontAwesome",
    components: {
      HogarContent,
      HeaderContent,
      FooterContent,
      HogarForm
    },

     head() {
      return {
        title: 'Seguros de Hogar – Cotiza Seguros para Hogar – AhorraSeguros.Mx',
        meta: [
          {hid: 'seguro de hogar', name: 'keywords', content: 'Seguros de Hogar, Seguros para Hogar, Seguros de Hogar en México, Cotizador de seguros de hogar, seguros de casa, seguros para casa, seguros hogar'},
          {hid: 'description', name: 'description', content: ' Seguros de Hogar: AhorraSeguros.Mx te ofrece los mejores precios y coberturas en Seguros para Hogar en México. Cotiza fácil, rápido y ahorra hasta 25% en tu Seguro de Casa.'},
          {hid: 'robots', name: 'robots', content: 'index, follow'},
          {hid: 'author', name: 'author', content: '@ivandesignMx | @DanCuevas'},
          {hid: 'sitemap', rel: 'sitemap', type:'application/xml', title:'sitemap', href:'sitemap.xml'},
          {hid: 'canonical', rel: 'canonical', href:'https://ahorraseguros.mx/seguros-de-hogar/'}
        ],
               link: [
          { rel: 'stylesheet', type: 'text/css', href: 'https://fonts.googleapis.com/css?family=Open+Sans:400,700' }
    ]
      }
    }
  };
</script>

