<template>
  <div>
     <section class="mt-3">
    <div class="container">
     <h3 class="card-title text-center title mb-3 colorAhorra">
       Beneficios exclusivos en tu Seguro de Casa 
    </h3>
      <div class="w-100 p-3"></div>
      <div class="row pt-3">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="">
                            <div class="row">
                                <div class="col mb-2">
                                    <!--Calificacion-->
                             <div class="card card_logos brradius colorcard">
        <div class="paddingnone py-0">
            <div class="row align-items-center ">
                <div class="text-center col-3 col-sm-3 col-md-4 col-lg-4 col-xl-4 p-0">
                     <img class="mt-3 img_bene" src="img/logotipos/house.svg" alt="AhorraSeguros-hogar" title="AhorraSeguros-hogar" width="100">
                </div>                                        
                <div class="col-9 col-sm-9 col-md-8 col-lg-8 col-xl-8 text-center">
                <p class="text-center mb-0"><strong class="f13bene">Asistencia en el Hogar</strong></p>
            <ul>
                <li class="fontmovile" style="list-style: none;">Cerrajería</li>
                <li class="fontmovile" style="list-style: none;">Plomería</li>
                <li class="fontmovile" style="list-style: none;">Electricista</li>
            </ul>                                     
                </div>                                        
            </div>
        </div>
    </div>
  </div>
  </div>
  </div>
   </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="">
                            <div class="row">
                                <div class="col">
                                    <!--Calificacion-->
                             <div class="card card_logos brradius colorcard">
        <div class="paddingnone py-0">
            <div class="row align-items-center ">
                <div class="text-center col-3 col-sm-3 col-md-4 col-lg-4 col-xl-4 p-0">
                    <img class="img_bene" src="img/logotipos/lab.svg" alt="Salud hogar" title="Salud hogar" width="100">
                </div>                                        
                <div class="col-9 col-sm-9 col-md-8 col-lg-8 col-xl-8 text-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                       <p class="text-center mb-0"><strong class="f13bene">Salud Hogar</strong></p>
                    <ul>
                        <li class="fontmovile" style="list-style: none;">Ambulancia</li>
                        <li class="fontmovile" style="list-style: none;">Orientación Médica</li>
                        <div class="w-100 p-3 d-none d-sm-none d-md-block"></div>
                    </ul>
                    </div>                                                      
                                                                    
                                                        
                </div>                                        
            </div>
        </div>
    </div>
  </div>
  </div>
  </div>
   </div>
    </div>

    <div class="row mt-2 mb-4">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="row">
                                <div class="col mb-2">
                                    <!--Calificacion-->
                             <div class="card card_logos brradius colorcard">
        <div class="paddingnone py-0">
            <div class="row align-items-center ">
                <div class="text-center col-3 col-sm-3 col-md-4 col-lg-4 col-xl-4 p-0">
                <img class="mt-3 img_bene" src="img/logotipos/justice.svg" alt="asistencia-legal" title="asistencia-legal" width="100">
                </div>                                        
                <div class="col-9 col-sm-9 col-md-8 col-lg-8 col-xl-8 text-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                            <p class="text-center mb-0"><strong class="f13bene">Asistencia Legal</strong></p>
                <ul>
                    <li class="fontmovile" style="list-style: none;">Telefónico</li>
                    <li class="fontmovile" style="list-style: none;">En caso de Robo</li>
                </ul>
                    </div>                                                      
                                                                    
                                                        
                </div>                                        
            </div>
        </div>
    </div>
  </div>
  </div>
   </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="row">
                                <div class="col">
                                    <!--Calificacion-->
                             <div class="card card_logos brradius colorcard">
        <div class="paddingnone py-0">
            <div class="row align-items-center ">
                <div class="text-center col-3 col-sm-3 col-md-4 col-lg-4 col-xl-4 p-0">
                    <img class="mt-3 img_bene" src="img/logotipos/dog.svg" alt="Mascota hogar" title="Mascota hogar" width="100">
                </div>                                        
                <div class="col-9 col-sm-9 col-md-8 col-lg-8 col-xl-8 text-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                       <p class="text-center mb-0"><strong class="f13bene">Mascotas Hogar</strong></p>
                    <ul>
                        <li class="fontmovile" style="list-style: none;">Orientación veterinaria</li>
                        <li class="fontmovile" style="list-style: none;">Ayuda en caso de Extravío</li>
                    </ul>
                    </div>                                                      
                                                                    
                                                        
                </div>                                        
            </div>
        </div>
    </div>
  </div>
  </div>
   </div>
         </div>
        </div>
        <br>
    </section>

    <section>
      <div class="w-100 p-3"></div>
      <div class="container">
        <div class="row">
      <div class="col-12 mt-0">
        <br>
        <p class="mt-b40">Cúal ha sido tu mayor sueño, recuerdas cuando imaginabas tener tu propia casa o departamento, que era lo primero que harías al tenerla, quizás tus propias reglas, la decoración, los muebles, esto te animaba y motiva todos los días, hasta lograrlo; Y ahora, ya que sabes el sacrificio, las horas de trabajo que cuestan para tener tu casa y la inversión que representa tener un hogar, que pasaría si todo esto se viera perdido o dañado. Hoy en día los riesgos a los que estamos expuestos son muchos y más con los desastres naturales. </p>
              <p>Con un Seguro de Casa estás cuidando de ti, tu familia y tu patrimonio; Los beneficios al tener una póliza de Seguro de Casa son muchos, pues te protegen de cualquier daño, percance o accidente en casa, además de cubrir asistencia médica para ti y los tuyos en caso de requerir de una, un Seguro de Casa sirve para respaldarte en daños materiales y atenciones de primera necesidad, cuántas veces has necesitado de un plomero o cerrajero, cuántas veces has preferido dejar ese detalle en casa porque no conoces algún albañil de confianza, pues con tu Seguro de Casa cuenta con la asistencia y servicio ante estos incidentes, en Ahorra Seguros al igual que tu, nuestra prioridad es el bienestar y la protección de las familias,es por esto ponemos a tu alcance las mejores opciones del mercado con beneficios únicos y precios a tu medida. 
</p>
      </div>
    </div>
    </div>
    </section>
    <section>
     <div class="container">
                <div class="row">

                    <div class="col-12 col-sm-12 col-md-6 col-lg-8 col-xl-7 align-items-center">
                        <h2 class="card-title h2Colortitle title colorAhorra">
                Seguros de Casa en México
                </h2>
                        <p class="text-justify">
                           En México solo el 5% de la población cuenta con un Seguro de Casa y esto se debe a una situación de cultura, pues como mexicanos preferimos corregir antes que prevenir, pero, qué pasaría si cuidamos más de nosotros y nuestro patrimonio, al contratar un Seguro de Casa estás previniendo tu futuro y porvenir, ya que con tu póliza de Seguro de Casa, mantienes tu calidad de vida, ante posibles daños o simples reparaciones, que no te tome desprevenido, prevenir riesgos te lleva un paso adelante. 
                        </p>
                        <p class="text-justify">
                         No importa que seas dueño, estés en proceso de adquirir una vivienda o estás alquilando tu hogar a terceras personas pues en este caso existen coberturas que te protegen de igual forma, ya sea por daños superficiales como rotura de ventanas, alguna abolladura o el mismo daño de la estructura, tu Seguro de Casa te respalda y cuida, haciéndose cargo de los gastos que de ella se deriven así como tu protección individual e integral.
                        </p>    
                        <p class="text-justify">
                           Si bien ya comprendimos que nadie estamos exentos de daños, accidentes e imprevistos, confirmamos que nuestra mejor decisión es tener un Seguro de Casa y con nuestro mejor aliado Ahorra Seguros, lo conseguiremos de forma sencilla y a un mejor precio, pues nos brinda, las mejores opciones, asistencia, respaldo y beneficios del mercado asegurador.  
                        </p> 
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-5 align-middle align-self-center">
                        <img class="img-fluid img_responsive" src="img/common/banner.png" alt="Seguros de Vida" />
                    </div>
                </div>
    </div>
</section>

    <div class="w-100 p-3"></div>
    <section class="mt-0">
    <div class="container">
                     <h3 class="card-title h2Colortitle title mt-2 colorAhorra">
                    ¿Por que necesito un Seguro de Casa?
                </h3>
                <div class="row">   
                    <div class="col-12 col-sm-12 col-md-12">
                         <p class="text-justify">
                          Como bien ya lo dijimos, los imprevistos y accidentes son los factores principales para desestabilizar nuestro modo y calidad de vida, pues surgen gastos inesperados que dañan nuestra economía, alterando nuestras decisiones, actividades o nuestro futuro, por esto es que lo mejor es ser precavidos y junto con nuestro Seguro de Casa darle la vuelta a los imprevistos, que no nos tome por sorpresa y estar protegidos ante cualquier percance; En los últimos años en México y el mundo hemos sufrido de desastres naturales que causan grandes pérdidas de dinero y en el peor de los casos pérdidas humanas.   
                        </p>
                        <p class="text-justify">
                         Los riesgos que representa la naturaleza no podemos controlarlos sin embargo si podemos protegernos ante sus posibles daños y hacerles frente de la mejor forma con un Seguro de Casa y estos son algunos ejemplos de los daños que con Ahorra Seguros y tu Seguro de Casa estás cubierto.
                        </p>
                             <br>
                        <ul class="p-10">
                            <li style="list-style:none;"><strong>Terremotos o erupciones:</strong> Con tu Seguro de Casa estas totalmente cubierto ante los daños que se deriven de alguno de estos fenómenos naturales.
</li>
                            <li style="list-style: none;"><strong>Daños inesperados:</strong> Hablemos una vez más de los fenómenos meteorológicos, y es que estos, están a la orden día arrasando con lo que esté a su paso, causando daños y pérdidas económicas, tal es el caso de inundaciones o en caso de accidente los incendios, con tu Seguro de Casa cubre todas las afectaciones que puedas tener al sufrir uno de estos casos.</li>

                            <li style="list-style: none;" ><strong>Robo o asalto:</strong> Sabemos que la inseguridad no depende de nosotros y que hacemos todo lo que esté en nuestro alcance para protegernos, sin embargo con tu Seguro de Casa estas totalmente amparado ante robos en muebles, joyería, ornamentos, utensilios, electrodomésticos, aparatos tecnológicos todo lo perdido en caso de robo.</li>

                            <li style="list-style: none;"><strong>Responsabilidad civil:</strong> Este es una de los beneficios más buscados, pues en caso de provocarle daños a terceros por actos no intencionados, como podrían ser, incendios, cristales rotos, lesiones provocadas por algún daño en tu estructura, este es el respaldo que necesitas pues con tu Seguro de Casa estás protegiendo de ellos también.</li>

                            <li style="list-style: none;"><strong>Gastos extraordinarios:</strong> En caso de sufrir daños mayores en tu vivienda y que está necesite remodelación o reparaciones mayores, con tu Seguro de Casa recibirás el apoyo económico para el pago del alquiler en caso que tengas que rentar temporalmente.</li>


                            <li style="list-style: none;"><strong>Asistencia Médica::</strong> Con tu Seguro de casa, estás protegiendo de tu patrimonio, pero también cuentas con el apoyo que necesites en caso de sufrir lesiones por accidente dentro de tu hogar.</li>
                        </ul> 
                    </div>
                    
                </div>
            </div>
    </section>

       <div class="w-100 p-3"></div>
    
    <div class="container">
        
                 <h4 class="card-title h2Colortitle title colorAhorra">
                   Contratar un Seguro de Casa con Ahorra Seguros.mx es más barato de lo que imaginas
                </h4>
                <p>En Ahorra Seguros nos caracterizamos por ser los aliados de nuestros clientes pues nuestro trabajo es ofrecerte las mejores opciones, con nosotros encontrarás comparativos de precios de Seguro de Casa con las mejores alternativas del mercado, en conjunto con las mejores aseguradoras te brindamos, oportunidades únicas a precios exclusivos, obtén los beneficios que tenemos para ti y sé uno de nuestros miles de clientes satisfechos.
</p>
    </div>


       <div class="w-100 p-3"></div>
    
    <div class="container">
                 <h4 class="card-title h2Colortitle title colorAhorra">
                   Adquiere tu Seguro de Casa en Ahorra Seguros
                </h4>
                <div class="">
                <p>Que estas dispuesto a hacer por tu familia, mucho verdad, pues nosotros estamos dispuestos a proteger de tu tranquilidad y bienestar, porque sabemos que tu patrimonio y salud es lo más importante, queremos estar de la mano contigo ante imprevistos y accidentes, Ahorra Seguros quiere ser parte de ti y ponerte a la mano la mejor protección y cobertura, por esto ponemos a tu disposición el mejor Seguro de Casa, ideal para ti y tu familia, contamos con las mejores coberturas del mercado y de la mano de las 20 más importantes aseguradoras del país te ofrecemos los mejores beneficios.</p>
                <p>Con Ahorra Seguros contratar tu Seguro de Casa es muy fácil, la decisión la tienes tú, nosotros nos encargamos de lo demás. Asegurate te tomará menos de dos minutos solo cotiza, elige y contrata.</p>
                </div>
            </div>
    
    <div class="w-100 p-3"></div>
  </div>
</template>
<style scoped>
  .body_color{background: #e9ebee;}
</style>