<template>
  <div>
     <section class="mt-3">
    <div class="container">
     <h3 class="card-title text-center title mb-3 colorAhorra">
       Recibe beneficios exclusivos en tu Seguro de Hogar Mapfre
    </h3>
      <div class="w-100 p-3"></div>
      <div class="row pt-3">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="">
                            <div class="row">
                                <div class="col mb-2">
                                    <!--Calificacion-->
                             <div class="card card_logos brradius colorcard">
        <div class="paddingnone py-0">
            <div class="row align-items-center ">
                <div class="text-center col-3 col-sm-3 col-md-4 col-lg-4 col-xl-4 p-0">
                     <img class="mt-3 img_bene" src="img/logotipos/house.svg" alt="AhorraSeguros-hogar" title="AhorraSeguros-hogar" width="100">
                </div>                                        
                <div class="col-9 col-sm-9 col-md-8 col-lg-8 col-xl-8 text-center">
                <p class="text-center mb-0"><strong class="f13bene">Asistencia en el Hogar</strong></p>
            <ul>
                <li class="fontmovile" style="list-style: none;">Cerrajería</li>
                <li class="fontmovile" style="list-style: none;">Plomería</li>
                <li class="fontmovile" style="list-style: none;">Electricista</li>
            </ul>                                     
                </div>                                        
            </div>
        </div>
    </div>
  </div>
  </div>
  </div>
   </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="">
                            <div class="row">
                                <div class="col">
                                    <!--Calificacion-->
                             <div class="card card_logos brradius colorcard">
        <div class="paddingnone py-0">
            <div class="row align-items-center ">
                <div class="text-center col-3 col-sm-3 col-md-4 col-lg-4 col-xl-4 p-0">
                    <img class="img_bene" src="img/logotipos/lab.svg" alt="Salud hogar" title="Salud hogar" width="100">
                </div>                                        
                <div class="col-9 col-sm-9 col-md-8 col-lg-8 col-xl-8 text-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                       <p class="text-center mb-0"><strong class="f13bene">Salud Hogar</strong></p>
                    <ul>
                        <li class="fontmovile" style="list-style: none;">Ambulancia</li>
                        <li class="fontmovile" style="list-style: none;">Orientación Médica</li>
                        <div class="w-100 p-3 d-none d-sm-none d-md-block"></div>
                    </ul>
                    </div>                                                      
                                                                    
                                                        
                </div>                                        
            </div>
        </div>
    </div>
  </div>
  </div>
  </div>
   </div>
    </div>

    <div class="row mt-2 mb-4">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="row">
                                <div class="col mb-2">
                                    <!--Calificacion-->
                             <div class="card card_logos brradius colorcard">
        <div class="paddingnone py-0">
            <div class="row align-items-center ">
                <div class="text-center col-3 col-sm-3 col-md-4 col-lg-4 col-xl-4 p-0">
                <img class="mt-3 img_bene" src="img/logotipos/justice.svg" alt="asistencia-legal" title="asistencia-legal" width="100">
                </div>                                        
                <div class="col-9 col-sm-9 col-md-8 col-lg-8 col-xl-8 text-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                            <p class="text-center mb-0"><strong class="f13bene">Asistencia Legal</strong></p>
                <ul>
                    <li class="fontmovile" style="list-style: none;">Telefónico</li>
                    <li class="fontmovile" style="list-style: none;">En caso de Robo</li>
                </ul>
                    </div>                                                      
                                                                    
                                                        
                </div>                                        
            </div>
        </div>
    </div>
  </div>
  </div>
   </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="row">
                                <div class="col">
                                    <!--Calificacion-->
                             <div class="card card_logos brradius colorcard">
        <div class="paddingnone py-0">
            <div class="row align-items-center ">
                <div class="text-center col-3 col-sm-3 col-md-4 col-lg-4 col-xl-4 p-0">
                    <img class="mt-3 img_bene" src="img/logotipos/dog.svg" alt="Mascota hogar" title="Mascota hogar" width="100">
                </div>                                        
                <div class="col-9 col-sm-9 col-md-8 col-lg-8 col-xl-8 text-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                       <p class="text-center mb-0"><strong class="f13bene">Mascotas Hogar</strong></p>
                    <ul>
                        <li class="fontmovile" style="list-style: none;">Orientación veterinaria</li>
                        <li class="fontmovile" style="list-style: none;">Ayuda en caso de Extravío</li>
                    </ul>
                    </div>                                                      
                                                                    
                                                        
                </div>                                        
            </div>
        </div>
    </div>
  </div>
  </div>
   </div>
         </div>
        </div>
        <br>
    </section>

    <section>
      <div class="w-100 p-3"></div>
      <div class="container">
        <div class="row">
      <div class="col-12 mt-0">
        <p class="mt-b40">Sabemos que la inversión más importante es justamente una casa, y es así que en Ahorra Seguros te brindamos lo necesario para que cuides de ella en todo momento, pues al tenerla protegida contra cualquier riesgo a la que este expuesta tu vivienda. Y es que un Seguro de Hogar es la mejor manera de cuidar tu patrimonio, así como el futuro de tu familia.</p>
              <p>Son muchos los beneficios que una póliza en Seguros de Hogar te da, pues no solo estarás respaldado en lo material, ya que también en caso de necesitar asistencia médica, podrás recibirla tú y toda familia. También por reparaciones inmediatas, como servicios de plomería, albañilería, por problemas de electricidad, y hasta un cerrajero.</p>
      </div>
    </div>
    </div>
    </section>
    <section>
     <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-8 col-xl-7 align-items-center">
                        <h2 class="card-title h2Colortitle title colorAhorra">
                 Mapfre Seguros de Hogar
                </h2>
                        <p class="text-justify">
                           <strong>Seguros Mapfre</strong> ha logrado cumplir con los más altos estándares de calidad y responsabilidad que los clientes exigen, ya que se caracteriza por respaldar a sus asegurados con una solidez financiera que te ofrece tranquilidad y bienestar en tu vida diaria, pues tú futuro, y patrimonio estarán protegidos por Seguros de Hogar Mapfre.
                        </p>
                        <p class="text-justify">
                          En Ahorra Seguros tenemos para ti las mejores coberturas que Mapfre Seguros de Hogar comercializa dentro del sector de viviendas, las cuales te brindan los mejores beneficios que te servirán para cuidar de tu patrimonio y el de tu familia, pero sobre todo, a mantener la protección que tú casa necesita, pues Seguros de Vivienda Mapfre te respalda económicamente, conoce un poco más.
                        </p>    
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-5 align-middle align-self-center">
                        <img class="img-fluid img_responsive" src="img/common/banner.png" alt="Seguros de Vida" />
                    </div>
                </div>
    </div>
</section>

    <div class="w-100 p-3"></div>
    <section class="mt-0">
    <div class="container">
                     <h3 class="card-title h2Colortitle title mt-2 colorAhorra">
                     Coberturas exclusivas en Seguros de Hogar Mapfre
                </h3>
                <div class="row">   
                    <div class="col-12 col-sm-12 col-md-12">
                        <br>
                         <ul class="p-10">
                            <li style="list-style: none;"><strong>Seguros de Hogar Mapfre Patrimonio:</strong>Cubre gastos por la remoción de escombros de los bienes que hayan sido afectados, así como el respaldo de gastos extra hasta por 4 meses en un hotel por la pérdida de la vivienda, además de cubrir mudanzas, almacenaje de muebles y renta de la casa. De igual forma los daños en cristales, marcos y cristales de decoración serán totalmente cubiertos.</li>
                            <li style="list-style: none;"><strong>Seguros de Hogar Mapfre Seguridad:</strong> Un plan totalmente diseñado para la protección a el robo de artículos que se encuentran dentro de tu casa, y por asalto a familiares, así como los daños que pueda causar el robo a tu propiedad. Con esta póliza podrás asegurar el dinero en efectivo que sea robado dentro de tu casa, así como los objetos personales como joyas, aparatos electrónicos y muebles.</li>
                            <li style="list-style: none;" ><strong>Seguros de Hogar Mapfre Médico:</strong> Recibe asistencia médica para ti y toda tu familia, las 24 horas los 365 días, así como el servicio de ambulancia y médico a domicilio. Obtendrás el respaldo en gastos médicos si llegaras a sufrir lesiones por robo dentro de tu casa, además se entregará un reembolso a tus familiares en caso de tu fallecimiento.</li>
                            <li style="list-style: none;"><strong>Seguros de Hogar Mapfre Total:</strong> Esta es la máxima cobertura que Mapfre Seguros tiene para ti, en la cual se añaden todos los planes antes mencionados, además de recibir la protección por desastres naturales como temblores, fenómenos hidrometeorológicos </li>
                            
                        </ul>
                    </div>
                    <br>
                </div>
            </div>
    </section>

       <div class="w-100 p-3"></div>
    
    <div class="container">
        
                 <h4 class="card-title h2Colortitle title colorAhorra">
                   Contratar un Seguro de Hogar con Ahorra Seguros.mx es más barato de lo que imaginas.
                </h4>
                <div class="">
                <p>En Ahorra Seguros encontrarás comparativos de precios de Seguros de Hogar de las mejores Aseguradoras en México. Nuestro asesor telefónico te brindará el apoyo en la toma de decisión para elegir el mejor seguro de vida con las coberturas que necesitas al mejor costo.</p>
                </div>
    </div>


       <div class="w-100 p-3"></div>
    
    <div class="container">
                 <h4 class="card-title h2Colortitle title colorAhorra">
                   Adquiere tu Seguro de Hogar en Ahorra Seguros
                </h4>
                <div class="">
                <p>Porque tu tranquilidad y el bienestar de tu familia, son lo más importante, en Ahorra Seguros tenemos para ti la mejor protección, ya que te brindamos el Seguro de Hogar ideal, con las mejores coberturas del mercado, contamos con las 20 más importantes aseguradoras en México, las cuales tienen lo que requieres para poder cuidar de tu patrimonio, y así tener la estabilidad que te mereces.</p>
                <p>Además en Ahorra Seguros te damos todas las facilidades necesarias para que puedas contratar cuanto antes tu póliza de Seguros de Hogar. ¡No esperes más, cotiza y contrata en menos de 2 minutos!</p>
                </div>
            </div>
    
    <div class="w-100 p-3"></div>
  </div>
</template>
<style scoped>
  .body_color{background: #e9ebee;}
</style>